    <div class="content push-down">
        <h2>{{ text }}</h2>
    </div>

    <div class="level">
        <div class="left-item level-left">
            <p>
                <a href="mailto:{{ contact.mail }}">{{ contact.mail }}</a><br><a href="tel:{{ contact.phone|replace({' ': ''}) }}">{{ contact.phone }}</a>
            </p>
        </div>
        <div class="left-item level-right">
            {% if button.url %}
                <a href="{{ button.url }}" target="_blank" class="button is-red-inverted"><span class="constructed">s</span>chrijf je in</a>
            {% else %}
                <a href="{{ 'primary'|get_sign_in_url }}" target="_blank" class="button is-red-inverted"><span class="constructed">s</span>chrijf je in</a>
            {% endif %}
        </div>
    </div>