<div class="content splash-body background-image is-clipped-right" style="background-image:url('{{ image }}')">
    
    <div class="gradient-overlay"></div>

    <div class="content">
        <div class="columns is-mobile">
            <div class="column is-10-mobile is-6-tablet is-6-desktop is-5-widescreen is-4-fullhd">
                <p class="aankondiging">{{ text }}</p>
                {% if button_url %}
                    <a target="_blank" href="{{ button_url }}" class="button is-inverted button-agenda" style="z-index: +1">{{ button_caption }}</a>
                {% else %}
                    <a target="_blank" href="{{ 'primary'|get_sign_in_url }}" class="button is-inverted button-agenda" style="z-index: +1">{{ button_caption }}</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="scroll-down is-hidden-mobile">
        <span class="button-scroll-down">{{ scroll_caption }}</span>
        <div class="vertical-line"></div>
    </div>

    {% if button_360|length > 0 %}
        <div class="button-fullscreen" data-kuula="{{ button_360[0].kuula|share }}">
            <img src="{{ theme.link }}/assets/images/open360.svg" alt="">
        </div>
    {% endif %}
</div>