{% if header %}

    <div class="columns header">
        <div class="column is-7-tablet is-8-desktop">
            <h2 class="{{ class }}">{{ header }}</h2>
        </div>
    </div>

{% endif %}

<div class="columns body{% if header %} has-header{% endif %}{% if slides | length > 1 %} slider-wrapper{% endif %}">

    <div class="column slider-column is-7-tablet is-8-desktop">
        <div class="{% if slides|length > 1 %}slider {% endif %}{{ clipping }}">

            {% for slide in slides %}
                <div class="background-image" style="background-image: url('{{ slide.image }}')">
                    <img src="http://placehold.it/4x3" alt="" class="placeholder">
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="column is-hidden-tablet">
        {% if slides | length > 1 %}
            <div class="slider-navbar is-mobile">

                {% for slide in slides %}
                    <div data-slider-index="{{ loop.index0 }}" class="slider-nav-item{% if loop.first %} is-active{% endif %}">
                        <span>0{{ loop.index }}</span>
                    </div>
                {% endfor %}

                {% if slides | length < 4 %}
                    {% for spacer in 0..((4 - slides|length) - 1) %}
                        <div class="slider-nav-spacer"></div>
                    {% endfor %}
                {% endif %}

            </div>
        {% endif %}

        <div data-appear="">
            <h1>{{ title }}</h1>
        </div>
        <div data-appear="" data-appear-delay="200ms">
            <p>{{ text }}</p>
        </div>

    </div>

    <div class="column text-column is-hidden-mobile is-5-tablet is-4-desktop">
        <div data-appear="">
            <h1>{{ title }}</h1>
        </div>

        <div data-appear="" data-appear-delay="200ms">
            <p>{{ text }}</p>
        </div>

        {% if slides | length > 1 %}
            <div class="slider-navbar">
                {% for slide in slides %}
                    <div data-slider-index="{{ loop.index0 }}" class="slider-nav-item{% if loop.first %} is-active{% endif %}">
                        <span>0{{ loop.index }}</span>
                    </div>
                {% endfor %}

                {% if slides | length < 4 %}
                    {% for spacer in 0..((4 - slides|length) - 1) %}
                        <div class="slider-nav-spacer"></div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>

</div>
