{% if header %}

    <div class="columns header">
        <div class="column is-7-tablet is-offset-5-tablet is-8-desktop is-offset-4-desktop">
            <h2 data-appear="" class="align-clipping-left no-limit">{{ header }}</h2>
        </div>
    </div>

{% endif %}

<div class="columns body{% if header %} has-header{% endif %}{% if slides | length > 1 %} slider-wrapper{% endif %}{% if isAutomatic %} is-automatic{% endif %}"{% if isAutomatic %} data-slider-delay="{{ delay }}"{% endif %}>

    <div class="column text-column is-hidden-mobile is-5-tablet is-4-desktop">
        <div data-appear="">
            <h1>{{ title }}</h1>
        </div>
        <div data-appear="" data-appear-delay="200ms">
            <p>{{ text }}</p>
        </div>
        {% if button|length > 0 %}
            <div data-appear="" data-appear-delay="400ms">
                <a href="{{ button[0].button_link }}" class="button">{{ button[0].button_caption }}</a>
            </div>
        {% endif %}

        {% if slides | length > 4 %}
            
            <div class="slider-navbar is-double top">
                {% for item in 1..4 %}
                    <div data-slider-index="{{ loop.index0 }}" class="slider-nav-item{% if loop.first %} is-active{% endif %}">
                        <span>0{{ loop.index }}</span>
                    </div>
                {% endfor %}
            </div>

            <div class="slider-navbar is-double bottom">
                {% for item in 5..slides | length %}
                    <div data-slider-index="{{ loop.index0 + 4 }}" class="slider-nav-item">
                        <span>0{{ loop.index + 4 }}</span>
                    </div>
                {% endfor %}

                {% if slides | length < 8 %}
                    {% for spacer in 0..((4 - (slides|length - 4)) - 1) %}
                        <div class="slider-nav-spacer {{ slides|length }}"></div>
                    {% endfor %}
                {% endif %}
            </div>

        {% elseif slides | length > 1 %}
            <div class="slider-navbar">
                {% for slide in slides %}
                    <div data-slider-index="{{ loop.index0 }}" class="slider-nav-item{% if loop.first %} is-active{% endif %}">
                        <span>0{{ loop.index }}</span>
                    </div>
                {% endfor %}

                {% if slides | length < 4 %}
                    {% for spacer in 0..((4 - slides|length) - 1) %}
                        <div class="slider-nav-spacer"></div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div class="column slider-column is-7-tablet is-8-desktop">
        <div class="{% if slides|length > 1 %}slider {% endif %}{{ clipping }}">

            {% for slide in slides %}
                <div class="background-image" style="background-image: url('{{ TimberImage(slide.image).src('bunker-large') }}')">
                    <img src="http://placehold.it/4x3" alt="" class="placeholder">
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="column is-hidden-tablet">
        {% if slides | length > 1 %}
            <div class="slider-navbar is-mobile">

                {% for slide in slides %}
                    <div data-slider-index="{{ loop.index0 }}" class="slider-nav-item{% if loop.first %} is-active{% endif %}">
                        <span>0{{ loop.index }}</span>
                    </div>
                {% endfor %}

                {% if slides | length < 4 %}
                    {% for spacer in 0..((4 - slides|length) - 1) %}
                        <div class="slider-nav-spacer"></div>
                    {% endfor %}
                {% endif %}

            </div>
        {% endif %}

        <div data-appear="">
            <h1>{{ title }}</h1>
        </div>
        <div data-appear="" data-appear-delay="200ms">
            <p>{{ text }}</p>
        </div>
        {% if button|length > 0 %}
            <div data-appear="" data-appear-delay="400ms">
                <a href="{{ button[0].button_link }}" class="button">{{ button[0].button_caption }}</a>
            </div>
        {% endif %}

    </div>

</div>