<div class="columns body is-multiline">
    <div class="column text-column is-hidden-mobile is-5-tablet is-4-desktop">
        <h1>{{ title }}</h1>
        <p>{{ text }}</p>
    </div>
    <div class="column clipped-360-column is-7-tablet is-8-desktop">
        <div class="clipped-360 {{ clipping }}">
            <div class="background-image" style="background-image: url('{{ TimberImage(image).src('bunker-large') }}')">
                <img src="http://placehold.it/4x3" alt="" class="placeholder">
            </div>

            {# <div class="button-fullscreen  is-hidden-mobile" data-kuula="{{ kuula|share }}" style="margin-left: 6%">
                <img src="{{ theme.link }}/assets/images/open360.svg" alt="">
            </div> #}
        </div>
    </div>
    <div class="column is-7-tablet is-offset-5-tablet is-8-desktop is-offset-4-desktop">
        <h3>
            {{ subtitle }}
        </h3>
    </div>
    <div class="column is-hidden-tablet">
        <div data-appear="">
            <h1>{{ title }}</h1>
        </div>
        <div data-appear="" data-appear-delay="200ms">
            <p>{{ text }}</p>
        </div>
    </div>
</div>