<div class="columns body is-multiline">
            <div class="column text-column is-hidden-mobile is-5-tablet is-4-desktop">
                <h1>{{ title }}</h1>
                <p>{{ text }}</p>
            </div>
            <div class="column clipped-360-column is-7-tablet is-8-desktop">
                <div class="clipped-360 {{ clipping }}">
                    <script src="https://static.kuula.io/embed.js" data-kuula="https://kuula.co/share/7PhkJ?fs=1&vr=0&thumbs=1&alpha=0.60&logopos=tl&chromeless=0&logo=0"
                        data-width="100%" data-height="100%"></script>
                </div>
            </div>
            <div class="column is-7-tablet is-offset-5-tablet is-8-desktop is-offset-4-desktop">
                <h3>
                    {{ subtitle }}
                </h3>
            </div>
            <div class="column is-hidden-tablet">
                <h1>{{ title }}</h1>
                <p>{{ text }}</p>
            </div>
        </div>