{% extends 'sections/section.twig' %}

{% set section_classes = ['appartment-plan', 'fit-height'] %}

{% block content %}

    <div class="columns body{% if flex | length > 1 %} slider-wrapper{% endif %}">
        <div class="column text-column is-hidden-mobile is-4-tablet is-3-desktop">
            <h1>{{ title }}</h1>
            <p>{{ text }}</p>

            {% if flex | length > 1 %}

                <div class="slider-navbar">

                    {% for item in flex %}

                        <div data-slider-index="{{ loop.index0 }}" class="slider-nav-item{% if loop.first %} is-active{% endif %}">
                            <span>0{{ loop.index }}</span>
                        </div>

                    {% endfor %}
                    
                    {% if flex | length < 4 %}
                        {% for spacer in 1..(4 - flex|length) %}

                            <div class="slider-nav-spacer"></div>

                        {% endfor %}
                    {% endif %}

                </div>

            {% endif %}

        </div>
        <div class="column plan-column is-7-tablet is-8-desktop is-offset-1-tablet">
            <div class="{% if flex|length > 1 %}slider{% endif %}">

                {% for item in flex %}
                    {% if item.acf_fc_layout == 'plan' %}

                        <div class="plan-image">
                            <div class="svg-image-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                        <filter id="multiplyBlend">
                                            <feflood result="floodFill" x="0" y="0" width="100%" height="100%" flood-color="{{ blend_color }}" flood-opacity="1"/>
                                            <feblend in="SourceGraphic" in2="floodFill" mode="multiply"/>
                                        </filter>
                                    </defs>
                                    <image xlink:href="{{ TimberImage(item.image).src }}" height="100%" width="100%" style="filter:url(#multiplyBlend);"/>
                                </svg>
                            </div>
                            <img src="http://placehold.it/8x5" alt="" class="image-placeholder">
                        </div>
                    
                    {% else %}

                        <div class="plan-image">
                            <div class="background-image" style="background-image: url('{{ TimberImage(item.image).src }}')">
                                <div class="button-fullscreen" data-kuula="{{ item.kuula|share }}" style="margin-left: 0">
                                    <img src="{{ theme.link }}/assets/images/open360.svg" alt="">
                                </div>
                                <img src="http://placehold.it/8x5" alt="" class="image-placeholder">
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <div class="column is-hidden-tablet">

            {% if flex | length > 1 %}

                <div class="slider-navbar">

                    {% for item in flex %}

                        <div data-slider-index="{{ loop.index0 }}" class="slider-nav-item{% if loop.first %} is-active{% endif %}">
                            <span>0{{ loop.index }}</span>
                        </div>

                    {% endfor %}

                    {% for spacer in 1..(4 - flex|length) %}

                        <div class="slider-nav-spacer"></div>

                    {% endfor %}

                </div>

            {% endif %}

        </div>
        <div class="column is-hidden-tablet">
            <h1>{{ title }}</h1>
            <p>{{ text }}</p>
        </div>
    </div>

{% endblock %}