{% extends 'sections/section.twig' %}

{% set section_classes = ['appartment-details', 'fit-height'] %}

{% block content %}

    <div class="columns is-mobile">
        <div class="column is-6-mobile is-3-tablet">
            <div class="content">
                {% for item in statistics %}
                    <div class="level is-mobile">
                        <div class="level-item level-left">{{ item.key }}</div>
                        <div class="level-item level-right">{{ item.value }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="column is-6-mobile is-3-tablet">
            <div class="content">
                <img src="{{ TimberImage(aanzichten_floor_plan).src }}" alt="">
            </div>
        </div>
        <div class="column is-6-mobile is-3-tablet">
            <div class="content">
                <div class="half">
                    Noord
                </div>
                <div class="half">
                    Oost
                </div>
                <img src="{{ TimberImage(aanzichten_no).src }}" alt="">
                
            </div>
        </div>
        <div class="column is-6-mobile is-3-tablet">
            <div class="content">
                <div class="half">
                    Zuid
                </div>
                <div class="half">
                    West
                </div>
                <img src="{{ TimberImage(aanzichten_zw).src }}" alt="">
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <br><br>
            <a href="{{ site.link }}/woningen/?jump=appartments-list" class="button">TERUG NAAR OVERZICHT</a>
        </div>
    </div>

{% endblock %}