{% extends 'sections/section.twig' %}

{% set section_classes = ['appartments-list', 'fit-height'] %}



{% block content %}

{# <pre>{{ dump(appartments) }}</pre> #}

    <div class="columns">
        <div class="column is-10-tablet is-8-fullhd is-offset-1-tablet is-offset-2-fullhd">
            <div data-appear=""><h2 class="list-header">{{ header }}</h2></div>  
        </div>
    </div>
    <div class="columns">
        <div class="column is-10-tablet is-8-fullhd is-offset-1-tablet is-offset-2-fullhd">
            <table class="table">
                <tbody>

                    {% for appartment in appartments %}
                        {% if appartment.get_field('appartment_lock') %}

                            <tr class="is-locked">
                                <td class="is-hidden-small-mobile">0{{ loop.index }}</td>
                                <td>{{ appartment.title }}</td>
                                <td>{{ appartment.get_field('appartment_gebruiksoppervlak') }}</td>
                                <td class="has-text-right">v.a. &euro; {{ appartment.get_field('appartment_cost') }}</td>
                                <td class="has-text-right is-hidden-mobile">
                                    <span class="small">binnenkort</span>
                                </td>  
                            </tr>

                        {% else %}
                                                    
                            <tr onclick="document.location = '{{ appartment.get_permalink() }}'" style="cursor: pointer">
                                <td class="is-hidden-small-mobile">0{{ loop.index }}</td>
                                <td>{{ appartment.title }}</td>
                                <td>{{ appartment.get_field('appartment_gebruiksoppervlak') }}</td>
                                <td class="has-text-right">v.a. &euro; {{ appartment.get_field('appartment_cost') }}</td>
                                <td class="has-text-right is-hidden-mobile">
                                    <a class="small" href="{{ appartment.get_permalink() }}">bekijk</a>
                                </td>  
                            </tr>

                        {% endif %}
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="columns">
        <div class="column is-10-tablet is-8-fullhd is-offset-1-tablet is-offset-2-fullhd">
            <p class="" style="padding-top: 2rem">{{ disclaimer }}</p>
        </div>
    </div>

{% endblock %}