<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{ site.language_attributes }}>
    <!--<![endif]-->
    <head>
        <meta charset="{{ site.charset }}"/>
        <title>
            {% if wp_title %}
                {{ wp_title }}
                -
                {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
        <meta name="description" content="{{ site.description }}">
        <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="{{ site.theme.link }}/shared.bundle.css?v=0.1" type="text/css" media="screen"/>
        
        <link href="{{ site.theme.link }}/assets/woningzoeker/css/app.02bfb400.css" rel=preload as=style>
        <link href="{{ site.theme.link }}/assets/woningzoeker/js/app.d44b4d05.js" rel=preload as=script>
        <link href="{{ site.theme.link }}/assets/woningzoeker/js/chunk-vendors.72871a71.js" rel=preload as=script>
        <link href="{{ site.theme.link }}/assets/woningzoeker/css/app.02bfb400.css?v=0.1" rel=stylesheet>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="author" href="{{ site.theme.link }}/humans.txt"/>
        <link rel="pingback" href="{{ site.pingback_url }}"/>

        {{function('wp_head')}}

        {% block head %}{% endblock %}
    </head>

    <body onload="hideLoader()" class="{% for class in body_classes %}{{ ' ' ~ class }}{% endfor %}" data-template="base.twig">

        {% include './components/loader.twig' %}

        {% include './components/navbar.twig' with {
            'logo': {
                'image' : navbar_image,
                'link': navbar_link
            }
        } %}

        {% block body %}{% endblock %}

        {% include './components/footer.twig' with {
            'logo_url' : theme.link ~ '/assets/images/logo.svg',
            'background_color': footer_background_color,
            'contact' : {
                'mail': 'nieuwbouw@eravbtmakelaars.nl',
                'phone': '088 54 54 645'
            }

        } %}

        <script src="{{ site.theme.link }}/shared.bundle.js?v=0.1"></script>

        {{ function('wp_footer') }}

    </body>
</html>