<div class="footer-placeholder"></div>

<footer id="footer" class="footer {{ background_color }}">
    <div class="container is-fluid">
        <div class="columns is-mobile is-multiline">
            <div class="column is-6-mobile is-3-tablet">
                <div class="content">
                    <div class="logo">
                        <img src="{{ logo_url }}">
                    </div>
                    
                    <p class="">
                        <br>
                        {# <a href="">Facebook</a>
                        <br>
                        <a href="">Instagram</a> #}
                        <a class="" href="{{ site.link }}/disclaimer">Disclaimer</a>
                    </p>
                </div>
            </div>
            <div class="column is-6-mobile is-3-tablet">
                <div class="content">
                    <p>
                        Voor meer vragen<br>
                        en informatie
                    </p>
                    <p>
                        <a href="mailto:{{ contact.mail }}">{{ contact.mail }}</a>
                        <br>
                        <a href="tel:{{ contact.phone|replace(' ', '') }}">{{ contact.phone }}</a>
                    </p>
                </div>
            </div>
            <div class="column is-6-mobile is-3-tablet">
                <div class="content">
                    {# <p>
                        Voor vragen over<br>
                        huurmogelijkheden<br>
                        kunt u terecht bij
                    </p>

                    <p>
                        <a href="">Vesteda</a>
                    </p> #}
                    <p>
                        <br>
                    </p>
                    <p>
                        <a target="_blank" href="https://www.facebook.com/BunkerToren/">Facebook</a>
                        <br>
                        <a target="_blank" href="https://www.instagram.com/bunkertoren/">Instagram</a>
                    </p>
                </div>
            </div>
            <div class="column is-6-mobile is-3-tablet">
                <div class="content">
                    <p>
                        Direct informatie<br>
                        over beschikbaarheid?
                    </p>
                    <p>
                        <a href="https://pdb.eye-move.nl/Contact/ProjectReactie/?WoningID=97043" target="_blank" class="button">inschrijven</a>
                    </p>
                </div>
            </div>
        </div>
        {# <div class="columns">
            <div class="column">
                <p>
                    <br><br>
                    <a class="" href="{{ site.link }}/disclaimer">Disclaimer</a>
                </p>
            </div>
        </div> #}
    </div>
</footer>
