<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% if back_link %}{{ back_link }}{% else %}front.html{% endif %}">
                <img class="logo" src="{{ logo_url }}">
            </a>

            <a href="#" class="button mobile-inschrijven is-hidden-desktop">inschrijven</a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        {% for item in menu %}
                        <p class="control">
                            <a data-nav-{{ item.title }} class="{{ item.class|e }}" href="{{ item.link }}">
                                <span>
                                    {{ item.title|e }}
                                </span>
                            </a>
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>